#uploadProgress {
  width: 100%;
  background-color: grey;
}

.item-wrapper {
  margin: 15px 0 15px 0
}

.item-btn-wrapper {
  margin: 0 5px 0 5px;
}

.item-group-wrapper {
  margin: 15px 10px 15px 10px
}

.modeButton {
  text-align: left;
  margin: 15px 5px 15px 5px;
  color: yellowgreen;
}

.mymodal .modal-content {
  color: black;
}

.form-container {
  flex-wrap: wrap;
  flex-direction: column;
}

#upload-status {
  color: blue;
  background-color: gray;
  border: 0;
}

#table-form {
  margin: 0 5px 0 5px;
  display: block;
}

#calculate-btn {
  margin: 0 5px 0 5px;
  float: right;
  display: block;
}

#cancel-btn {
  margin: 0 5px 0 5px;
  float: right;
  display: block;
}

#div-task-table {
  margin: 10px;
  border: 1px solid rgb(99, 99, 99);
}