#form-group {
  width: 95%;
  align-items: center;
}

#uploadProgress {
  background-color: grey;
}

.item-wrapper {
  width: 95%;
  margin: 15px 0 15px 0;
}

.item-btn-wrapper {
  margin: 0;
}

/* .item-group-wrapper {
  margin: 15px 10px 15px 10px
} */

.form-container {
  flex-wrap: wrap;
  flex-direction: column;
}

#upload-status {
  color: blue;
  background-color: gray;
  border: 0;
}

/* #table-form {
  margin: 0 5px 0 5px;
  display: block;
} */
/*
#div-task-table {
  margin: 10px 10px 20px 10px;
  border: 2px solid rgb(99, 99, 99);
} */

#filealias-input {
  float: left;
  width: 540px;
  /* height: 80px; */
  margin-bottom: 20px;

}


#button-row-reset {
  display: flex;
  justify-content: right;
  margin-right: 70px;
  margin-bottom: 20px;
}

/* .div-task-table { */
/* margin-left: 70px; */
/* align-content: center; */
/* margin: 20px 5px 5px 5px;
  justify-content: center;
  display: flex; */
/* } */