.modebtn-wrapper {
    width: 95%;
    border: 2px solid gray;
    /* margin: 15px 0 15px 30px; */
    height: 100px;
    /* align-items: center; */
}

.modebtn-wrapper2 {
    width: 95%;
    border: 2px solid gray;
    /* margin: 15px 0 15px 30px; */
    height: 200px;
    /* align-items: center; */
}



.canvas-wrapper {
    /* margin: 20px 5px 5px 5px; */
    /* margin-left: 70px; */
    width: 95%;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.modeButton {
    text-align: left;
    margin: 15px 5px 15px 5px;
    color: yellowgreen;
}

.modeButton {
    text-align: left;
    margin: 15px 5px 15px 5px;
    color: yellowgreen;
}

#groundtype-select {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.modebtn-message {
    width: 95%;
    text-align: left;
    /* align-items: left; */
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(153, 153, 153);
    white-space: pre-line;
}

.modebtn-message2 {
    width: 90%;
    text-align: left;
    /* align-items: left; */
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(153, 153, 153);
    white-space: pre-line;

    border: 2px solid gray;
    height: 140px;
}