.table-container {
    /* margin: 0 5px 0 5px; */
    width: 100%;
    display: inline-block;
}

#task-title {
    margin: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: block;
}


#table-body {
    width: 100%;
    font-size: 13px;
    font-weight: lighter;
    text-align: center;
}

#th-name {
    width: 15%;
}

#th-count {
    width: 10%;
}

#th-request {
    width: 20%;
}

#th-status {
    width: 40%;
}

#th-result {
    width: 6%;
}

#td-request {
    padding: 6px;
    text-align: left;
}

#td-status {
    padding: 6px;
    text-align: left;
}

#td-result {
    padding: 6px;
    text-align: left;
}

.label {
    margin: 0 10px 10px 0;
    min-width: 24rem;
    display: inline-block;
}