body {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 3px 3px 3px 3px;
    font-family: Verdana, sans-serif;
    font-size: 11pt;
    text-align: center;
}

.center {
    text-align: center;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.buttonMode {}